practica3/Pre_Practica3/bpelContent/VendedorArtifacts.wsdl

<?xml version="1.0"?>
<definitions name="Vendedor"
        targetNamespace="http://vendedor"
        xmlns:ven="http://vendedor"
        xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        >

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     TYPE DEFINITION - List of types participating in this BPEL process 
     The BPEL Designer will generate default request and response types
     but you can define or import any XML Schema type and use them as part 
     of the message types.
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->    
    <types>
        <schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
                targetNamespace="http://vendedor" 
                xmlns="http://www.w3.org/2001/XMLSchema">

            <element name="VendedorRequest">
                <complexType>
                    <sequence>
                        <element name="input" type="int"/>
                    </sequence>
                </complexType>
            </element>

            <element name="VendedorResponse">
                <complexType>
                    <sequence>
                        <element name="output" type="int"/>
                    </sequence>
                </complexType>
            </element>
            
            <element name="VendedorPrecioInicial">
                <complexType>
                    <sequence>
                        <element name="constant" type="int"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </types>


<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     MESSAGE TYPE DEFINITION - Definition of the message types used as 
     part of the port type defintions
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->    
    <message name="VendedorRequestMessage">
        <part element="ven:VendedorRequest" name="payload"/>
    </message>
    <message name="VendedorResponseMessage">
        <part element="ven:VendedorResponse" name="payload"/>
    </message>
    <message name="VendedorPrecioInicialMessage">
        <part element="ven:VendedorPrecioInicial" name="payload"/>
    </message>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     PORT TYPE DEFINITION - A port type groups a set of operations into
     a logical service unit.
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->    
    <portType name="Vendedor">
        <operation name="consiguePrecio">
            <input message="ven:VendedorRequestMessage"/>
            <output message="ven:VendedorResponseMessage"/>
        </operation>
        <operation name="actualizarOferta">
            <input message="ven:VendedorRequestMessage"/>
            <output message="ven:VendedorResponseMessage"/>
        </operation>
    </portType>   
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     PARTNER LINK TYPE DEFINITION
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->    
    <plnk:partnerLinkType name="Vendedor">
        <plnk:role name="VendedorProvider" portType="ven:Vendedor"/>
    </plnk:partnerLinkType>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     BINDING DEFINITION - Defines the message format and protocol details
     for a web service.
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <binding name="VendedorBinding" type="ven:Vendedor">
    	<soap:binding style="document"
    		transport="http://schemas.xmlsoap.org/soap/http"/>
    	<operation name="consiguePrecio">
    		<soap:operation soapAction="http://vendedor/consiguePrecio"/>
    		<input>
    			<soap:body use="literal"/>
    		</input>
    		<output>
    			<soap:body use="literal"/>
    		</output>
    	</operation>
    	<operation name="actualizarOferta">
    		<soap:operation soapAction="http://vendedor/actualizarOferta"/>
    		<input>
    			<soap:body use="literal"/>
    		</input>
    		<output>
    			<soap:body use="literal"/>
    		</output>
    	</operation>
    </binding>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     SERVICE DEFINITION - A service groups a set of ports into
     a service unit.
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <service name="VendedorService">
    	<port name="VendedorPort" binding="ven:VendedorBinding">
    		<soap:address location="http://localhost:9090/ode/processes/Vendedor" />
    	</port>
    </service>
</definitions>
